body::before{
    display: block;
    content: '';
    height: 90px;
}

#mybody{
    width: 100%;
    overflow-x: hidden;
}

.bg{
    background-image: url(image/download.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (min-width: 768px){
 .news-input{
    width:80px;
 }
}

.logo{
    width :180px;
    margin-left: 5;
}

#nav-item1{
    color: dodgerblue;
}

a.navlink:hover {
    border-bottom: 2px solid dodgerblue;
    border-top: 2px solid dodgerblue;
}


@media only screen and (min-width: 768px){
    .logo{
        margin-right: 10px;
    }
}

@media only screen and (max-width: 990px){
    .ng{
        display: none;
    }
}
.bg{
    background-image: url(/ysd-in/Immgee/herrro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    font-size: 80px;
    font-family: Lucida Console;
}

/*weekly meeting content*/
.gg{
    background-color: #d6e0e0;
    width: 100%;
}

.g1{
background-color: gray;
border-bottom: 1px solid #424141;
}
.gg1{
    width: 40%;
}
.g1 a{
    text-decoration: none;
    color: white;
}
.g1:hover{
        background-color: dodgerblue;
}

.g1 img{
    width: 50px;
    margin-right: 1%;
}

.hyo1{
    width: 40%;
}

@media only screen and (max-width: 670px){
    .more-about{
        text-align: center;
        align-content: center;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        flex-direction: column;        
        }
        .hyo1 img{
            text-align: center;
        }
        
            .hyo1{
                width: 80%;
                
            }
            .gg1{
                width: 90%;
            }
/*Hero heading*/
    .where{
        font-size: x-large;
    }
}

/*Footer Styling*/
.ficn{
    font-size: 15px;
    padding-top: 10px;
}

.ficn i{
padding-bottom: 11px ;
}

.ficnl{
    padding: 5px;
}

.ficnl i{
    border: 1px solid white;
    font-size: 20px;
    padding: 15px;
    margin: 5px;
}

@media only screen and (max-width: 700px){
    .init{
        display: none;
    }
}

.ficnl i:hover{
    border: 1px solid yellow;
    font-size: 20px;
    padding: 15px;
    margin: 5px;
}

@media only screen and (max-width: 960px){
    .yet{
        display: flex;
        flex-wrap: wrap-reverse;
        text-align: center;
    }
}

.ficn i{
    padding-top: 5px;
    font-size: 12px;
}

.fs6{
    padding-top: 5px;
    font-size: 12px;
}

