body::before{
    display: block;
    content: '';
    Height: 90px;
}

#mybody{
    width: 100%;
    overflow-x: hidden;
}

.logo{
    width :180px;
    margin-left: 5;
}

@media only screen and (min-width: 768px){
    .logo{
        margin-right: 10px;
    }
}

@media only screen and (max-width: 990px){
    .ng{
        display: none;
    }
}

.bg{
    background-image: url(/location/Loc-image/abstract.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    font-size: 80px;
    font-family: Lucida Console;
}

#nav-item1{
    color: dodgerblue;
}

a.navlink:hover {
    border-bottom: 2px solid dodgerblue;
    border-top: 2px solid dodgerblue;
}

@media only screen and (max-width: 500px){
    .container{
       display: block;
       width: 100%;
       align-content: space-around;
    }
}


@media only screen and (max-width: 770px) {
    .where{
        font-size: x-large;
    }
}


.add{
    padding: 10px;
    margin-top: 20px;
}

.add > p{
    color: white;
}

.ficnl{
    padding: 5px;
}

.ficnl i{
    border: 1px solid white;
    font-size: 20px;
    padding: 15px;
    margin: 5px;
}

@media only screen and (max-width: 700px){
    .init{
        display: none;
    }
}

.ficnl i:hover{
    border: 1px solid yellow;
    font-size: 20px;
    padding: 15px;
    margin: 5px;
}

@media only screen and (max-width: 960px){
    .yet{
        display: flex;
        flex-wrap: wrap-reverse;
        text-align: center;
    }
}

.fs6{
    padding-top: 5px;
    font-size: 12px;
}

.ficn i{
    padding-top: 20px;
    font-size: 12px;
}

